<!DOCTYPE html>
<html>
  <head>
    <title>Make ur Food</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-default">
      <div class="container">
        <%= link_to "Make ur Food", "", class: "btn btn-lg btn-success", id: "logo" %>
        <div class="nav_item">
          <%= link_to "link 1", "", class: "btn btn-default btn-warning" %>
        </div>
        <div class="nav_item">
          <%= link_to "link 1", "", class: "btn btn-default btn-warning" %>
        </div>
        <div class="nav_item">
          <%= link_to "link 1", "", class: "btn btn-default btn-warning" %>
        </div>
      </div>
    </header>
    <div class="container">
    <%= yield %>
    <div class="footer">
      <p>&copy; Make ur Food 2017</p>
    </div>

  </div>
  </body>
</html>
